<!doctype html>
<html ng-app="oamHelperApp">
    <head>
        <title>OAM Helper/disassembler</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script>
        <script src="controllers/mainCtrl.js"></script>
        <script src="controllers/attr0ctrl.js"></script> 
        <script src="controllers/attr1ctrl.js"></script>
        <script src="controllers/attr2ctrl.js"></script> 
    </head>
    <body ng-controller="mainCtrl">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <label class="navbar-brand">OAMHelper</label>
                </div>
                <ul class="nav navbar-nav" ng-init="setActive( 'aboutMenu' )">
                    <li my-menu-id="aboutMenu" ng-click="setActive( 'aboutMenu' )"><a href="#/about">Home/about</a></li>
                    <li my-menu-id="mainMenu" ng-click="setActive( 'mainMenu' )"><a href="#/main">Main</a></li>
                </ul>
            </div>
        </nav>
        <div ng-view>
        </div>
    </body>
</html>
