<h3>About this app</h3>
<pre>
This app was created to help me reverse engineer the Nintendo DS logo that plays when the system is first powered on.
Using an emulator, you can get information from the DS's object attribute memory (OAM) which tells the hardware
where the sprites are, what their size is, how many colours they have, and so on.

Object attribute memory (OAM) is a special location in VRAM that contains 128 entries of 3 16 bit words describing the sprite.
By taking these 3 16 bit values from the emulator, we can plug them into this app and it will 
turn the raw hex values and output them into a table that is easy to read.
</pre>
